$primary: #3a7ca5;
$text: #333;
$muted: #999;
$white: #fff;
$light-grey: #f1f2f5;
$black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
}

body,
button,
input,
textarea,
select {
  font: 400 1rem "Poppins", sans-serif;
}

body {
  color: $text;
  background: $light-grey;
}

.react-modal-overlay {
  background: rgba($black, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 500px;

  background: $light-grey;
  padding: 2rem;
  position: relative;
  border-radius: 5px;

  animation: .5s fade-in;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }
}