@import './styles/global.scss';

.App {
  .app-content {
    width: 100%;
    max-width: 1300px;

    display: flex;
    margin: 0 auto;
  }

  .tasks-wrapper {
    width: 100%;
    max-width: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin: 0 auto;

    transform: translateY(-40px);
  }
}